.footer-2{
  padding: 30px 0 0;
}

.footer-2-subtext{
  text-align: center;
  font-family: 'Roboto', "Raleway", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.footer-2-subtext fa-icon{
  font-size: 12px;
}
