<div class="position-relative">
	<div class="container">
		<div class="wrap"></div>
		<div class="row">
			<div class="col-md-6 text-center">
				<img
					src="../../../assets/images/Person2.jpg"
					alt="Изображение"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-6 d-flex flex-column justify-content-end">
				<h2>Артур Вебсон</h2>
				<p>
					Моя цель - помочь вам выделиться в онлайн-пространстве и привлечь
					больше клиентов через современные и функциональные веб-сайты. Я
					работаю индивидуально с каждым клиентом, чтобы понять их
					уникальные потребности и создать сайт, который идеально
					соответствует их бизнес-целям.
				</p>
			</div>
		</div>
	</div>
</div>
