.card {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(35, 35, 35);
}

.card-body {
  padding: 0;
}

.card-body img {
  width: 100%;
  height: 230px;

  overflow: hidden;
  border-radius: 8px 8px 0 0;
  display: block;

  margin-bottom: 20px;
}

.card-title {
  height: 60px;

  font-family: 'Press Start 2P', "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  margin-bottom: 12px;
}

.card-subtitle {
  font-family: 'Roboto', "Raleway", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.05em;

  margin-bottom: 32px;
  color: #899599;
}

.card-title-owner {
  font-family: 'Press Start 2P', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #7E7AF5;
}

.card-owner {
  font-family: 'Press Start 2P', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.05em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 16px;
  border: none;
}

.card-footer img {
  width: 40px;
}

.card-coordinates {
  font-family: 'Press Start 2P', "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 4px;

  color: rgb(113, 124, 237);
}
