.slider-title {
  padding: 40px 0;

  font-family: 'Press Start 2P', "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

.slider-content {
  padding: 50px 0;
}

.slider-img, .slider-gradient {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.slider-img {
  z-index: -100;
  filter: blur(1px);
}

.slider-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: -90;
}

.slider-track {
  display: flex;
}
