<app-nav-menu></app-nav-menu>
<app-header-banner
	[text]="'Конституция Политики в Кубе'"
	[urlImg]="'assets/references/banner.jpg'"
></app-header-banner>

<div class="rule-text">
	<div class="container">
		<div class="chapter">
			<div class="chapter-icon">
				<fa-icon [icon]="userGroup"></fa-icon>
			</div>
			<h4>1. lorem</h4>
			<div class="chapter-point">
				<h5>1.1. loerm</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus est corrupti laudantium quae magnam doloribus
					dignissimos atque ex, esse hic minima deserunt at, odio
					voluptas facilis omnis temporibus soluta dolor.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus est corrupti laudantium quae magnam doloribus
					dignissimos atque ex, esse hic minima deserunt at, odio
					voluptas facilis omnis temporibus soluta dolor.
				</p>
			</div>
			<div class="chapter-point">
				<h5>1.2. Lorem ipsum dolor sit amet.</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus est corrupti laudantium quae magnam doloribus
					dignissimos atque ex, esse hic minima deserunt at, odio
					voluptas facilis omnis temporibus soluta dolor.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus est corrupti laudantium quae magnam doloribus
					dignissimos atque ex, esse hic minima deserunt at, odio
					voluptas facilis omnis temporibus soluta dolor.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus est corrupti laudantium quae magnam doloribus
					dignissimos atque ex, esse hic minima deserunt at, odio
					voluptas facilis omnis temporibus soluta dolor.
				</p>
			</div>
		</div>
	</div>
</div>
