<div class="features">
	<div class="container">
		<h3 class="text-center mb-5">Как происходит работа?</h3>
		<div class="row">
			<div class="col-4 feature-card">
				<h3>Консультация и обсуждение требований:</h3>
				<p>
					Начните с того, чтобы клиент связался с нами для бесплатной
					консультации. Мы обсудим их потребности и цели, а также
					предоставим им информацию о наших услугах. Во время консультации
					мы можем задавать клиенту вопросы о цели сайта, целевой
					аудитории, функциональных требованиях, дизайне и бюджете проекта.
				</p>
			</div>
			<div class="col-4 feature-card">
				<h3>Предложение и согласование проекта:</h3>
				<p>
					После консультации мы разработаем индивидуальное предложение,
					которое будет отражать требования клиента и наши рекомендации.
					Предложение будет включать в себя описание проекта, сроки
					выполнения, стоимость и условия работы. После предоставления
					предложения клиент имеет возможность внести любые изменения или
					уточнения, прежде чем мы перейдем к следующему этапу.
				</p>
			</div>
			<div class="col-4 feature-card">
				<h3>Разработка и запуск сайта:</h3>
				<p>
					После утверждения предложения и заключения договора мы начнем
					разработку сайта. На этом этапе клиент будет иметь возможность
					участвовать в процессе, вносить предложения и получать регулярные
					обновления о прогрессе работы. По завершении разработки мы
					проведем тестирование сайта, чтобы убедиться в его
					функциональности и безопасности. После утверждения клиентом
					окончательной версии сайта мы запустим его и предоставим
					необходимую поддержку.
				</p>
			</div>
		</div>
	</div>
</div>
