<app-nav-menu></app-nav-menu>
<app-header-banner
	[text]="'Союзы'"
	[urlImg]="'assets/references/banner.jpg'"
></app-header-banner>
<div class="container unions">
	<div class="unions-text mb-5">
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi
			dolores voluptas vero accusantium reiciendis libero est laborum
			officia id fugiat?
		</p>
		<p class="mb-4">lorem3</p>
		<a class="btn btn-primary">lorem</a>
	</div>
	<div class="row">
		<app-card
			class="col-12 col-md-6 col-lg-4 mb-4"
			*ngFor="let card of cards"
			[entity]="card"
		></app-card>
	</div>
</div>
