<div class="how-to-start" id="how-to-start">
	<h3 class="how-to-start-title mb-5">Как начать?</h3>
	<div class="container">
		<div class="row">
			<div class="offset-1 col-5 how-to-start-text">
				<p class="mb-0">Lorem, ipsum.</p>
				<p class="mb-4">Lorem, ipsum.</p>
				<p class="mb-4">Lorem ipsum dolor sit amet consectetur.</p>
				<p>Lorem, ipsum.</p>
			</div>
			<div class="offset-2 col-3 how-to-start-btn">
				<a
					class="btn btn-primary mb-2"
					href="https://t.me/politicsCubedBot"
					target="_blank"
					>Регистрация</a
				>
				<a class="btn btn-info" routerLink="/rules" target="_blank"
					>Lorem, ipsum.</a
				>
			</div>
		</div>
	</div>
</div>
