<div class="about-us">
	<div class="container">
		<div class="row">
			<div class="col-5 text-end">
				<h3>Почему мы?</h3>
				<p>Более 20 на рынке маштабных решений</p>
			</div>
			<div class="offset-1 col-4">
				<ul class="list-unstyled text-size-lg">
					<li>
						<fa-icon [icon]="arrowIcon"></fa-icon> Индивидуальный подход
					</li>
					<li>
						<fa-icon [icon]="arrowIcon"></fa-icon> Талантливая команда
					</li>
					<li>
						<fa-icon [icon]="arrowIcon"></fa-icon> Качественный дизайн
					</li>
					<li>
						<fa-icon [icon]="arrowIcon"></fa-icon> Техническая экспертиза
					</li>
					<li>
						<fa-icon [icon]="arrowIcon"></fa-icon> Клиентоориентированный
						подход
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
