.about-us{
  padding: 60px 0;
  background: rgb(0, 0, 0);
  color: #fff;
  font-family: "Raleway", serif;
}

h3{
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

li{
	line-height: 200%;
}
