<div class="footer-1">
  <div class="container">
    <div class="social-media">
      <a href="https://vk.com/politica3" target="_blank">
        <img src="assets/icons/vk.svg" alt="vk">
      </a>
      <a href="https://t.me/politicsCubedBot" target="_blank">
        <img src="assets/icons/telegram.svg" alt="telegram">
      </a>
    </div>
    <div class="footer-menu">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="">Главная</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-us">О нас</a>
        </li>
        <li class="nav-item">
          <a routerLink="/rules">Правила</a>
        </li>
        <li class="nav-item">
          <a routerLink="/fractions">Фракции</a>
        </li>
        <li class="nav-item">
          <a routerLink="/unions">Союзы</a>
        </li>
        <li class="nav-item">
          <a routerLink="/feedback">Обращение</a>
        </li>
      </ul>
    </div>
  </div>
</div>
