.header-banner{
  padding: 50px 0;
}

.header-banner-img, .header-banner-gradient {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.header-banner-img {
  z-index: -100;
  filter: blur(1px);
}

.header-banner-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: -90;
}

h3{
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  text-align: center;
}
