<article class="banner position-relative">
	<div class="banner-img"></div>
	<app-nav-menu> </app-nav-menu>

	<div class="container banner-content">
		<div class="banner-text">
			<h1 class="banner-title mb-3">Lorem</h1>
			<p class="banner-subtitle mb-4">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Incidunt voluptatum a voluptatem quidem eligendi dicta, repellat
				cumque, exercitationem nobis aliquam aperiam id nam.
			</p>
			<a href="#how-to-start" class="btn btn-primary">Lorem, ipsum.</a>
			<p class="banner-arrowDown">
				<fa-icon [icon]="arrowDown"></fa-icon>
			</p>
		</div>
	</div>
</article>
