<div class="tiles">
	<div class="tiles-header">Особенности</div>
	<div class="container tiles-content">
		<div class="row">
			<div class="col-6">
				<div class="tile">
					<h5>Lorem.</h5>
					<p>Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="tile">
					<h5>Lorem</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing
						elit.
					</p>
				</div>
			</div>
			<div class="col-6">
				<div class="tile">
					<h5>Lorem</h5>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit. Totam eius rerum rem odio debitis suscipit et hic,
						aut repudiandae eligendi dolor culpa itaque.
					</p>
					<p class="mb-0">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Accusantium, cumque dignissimos cum id eum quam?
					</p>
				</div>
			</div>
			<div class="col-6">
				<div class="tile">
					<h5>Lorem</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Architecto tenetur, dolorum quod ullam eveniet, magni
						alias pariatur, quaerat nihil repellat distinctio.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
