.not-found-content{
  padding: 120px 0;
  height: 100vh;

  color: black;
}

.line{
	height: 120px;
	background: black;
	color: white;
}

h3{
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

p{
	color: darkgrey;
}
