.nav{
	padding-top: 30px;
	width: 50%;
}

a{
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", serif;
}

img{
  width: 50px;
  height: 50px;
  transform: translateY(-10px);
}



@media (max-width: 992px) {
	.nav{
		width: 100%;
	}
 }
