<header class="container">
	<nav class="navbar">
		<ul class="nav justify-content-around">
			<li class="d-inline-block">
				<a routerLink="">
					<img src="./assets/images/Logo.png" alt="logo" />
				</a>
			</li>
			<li>
				<a routerLink="">
					<fa-icon [icon]="homeIcon"></fa-icon>
				</a>
			</li>
			<li>
				<a routerLink="">наши проекты</a>
			</li>
			<li>
				<a routerLink="">наша команда</a>
			</li>
			<li>
				<a routerLink="/dashboard">настроить</a>
			</li>
			<li *ngIf="auth.isAuthenticated()">
				<a (click)="auth.logout()" href="#">выйти</a>
			</li>
		</ul>
	</nav>
</header>
