<header class="container">
  <nav class="navbar">
    <ul class="nav nav-pills left-menu">
      <li class="nav">
        <a routerLink="">
          <fa-icon [icon]="homeIcon"></fa-icon>
        </a>
      </li>
      <li class="nav">
        <a routerLink="/about-us">О нас</a>
      </li>
      <li class="nav">
        <a routerLink="/rules">Правила</a>
      </li>
    </ul>
    <div class="logo-img">
      <a routerLink="">
        <img src="./assets/references/Logo.png" alt="logo">
      </a>
    </div>
    <ul class="nav nav-pills right-menu">
      <li class="nav">
        <a routerLink="/fractions">Фракции</a>
      </li>
      <li class="nav">
        <a routerLink="/unions">Союзы</a>
      </li>
      <li class="nav">
        <a routerLink="/feedback">Обращение</a>
      </li>
    </ul>
  </nav>
</header>
