nav{
	padding-top: 30px;
}

a{
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", serif;
}

img{
  width: 50px;
  height: 50px;
  transform: translateY(-10px);
}

.left-menu, .right-menu{
  width: 416px;
  justify-content: space-between;
}
