body{
	background: rgb(255,255,255);
  	color: #181918;
	font-weight: 500;
}

a, a:hover{
  text-decoration: none;
  color: inherit;
  transition: .2s ease-in-out;
}

a:hover{
  color: rgb(161, 118, 0);
}

.btn{
  outline: none;
  border: none;
  font-family: "Raleway", serif;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  border-radius: 8px;
}

.btn-primary,
.btn-secondary,
.btn-info{
  padding: 18px 64px;
  color: #FFFFFF;
}

.btn-primary{
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-secondary{
  background: none;
  outline: 1px rgba(153, 153, 153, 0.8) solid;
}

.btn-info{
  background: none;
  text-decoration: underline;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover{
  background: rgb(161, 118, 0);
  border: none;
}

.btn-info:hover{
  text-decoration: underline;
  background: none !important;
  color: rgba(161, 118, 0, 1) !important;
}
